.airdrop-result {
  text-align: center;
  .copy-group {
    width: 600px;
    margin: 0 auto;
    #share-url-input {
      width: 70%;
    }
    .copy-btn {
      width: 30%;
    }
  }
  p {
    margin: 10px 0;
  }
}

span {
  margin-left: 0.5rem;
}
